:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --champagnePink : #E5D4CE;
  --platinum: #E0E0E0;
  --honoluluBlue: #007EC9;
  --payneGray: #606A72;
  --red: #F1162C;

  background-color: var(--champagnePink);
}

.topNav{
  background-color: var(--honoluluBlue);
  color: var(--champagnePink);
  font-size: 2vw;
  width: 100vw;
  height:auto;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
}

.topNavButtons{
  text-decoration: none;
  color: var(--platinum);
  background-color: var(--payneGray);
  border-radius: 1vw;
  font-size: 2vw;
  width: 1fr;
  padding: 1vw;
  margin: 1vw;
  text-align: center;
}

.topNavButtons-active{
  text-decoration: none;
  color: var(--platinum);
  border-radius: 1vw;
  font-size: 2vw;
  width: 1fr;
  margin: 1vw;
  text-align: center;
  background-color: var(--red);
  transition: 500ms ease-in-out;
  padding: 1vw;
}

.topNavButtons:hover{
  text-decoration: none;
  background-color: var(--red);
  transition: 500ms ease-in-out;
  padding: 1.5vw;
}

.wordHovering{
  font-size: 19vw;
  color: var(--red);
  font-weight: 700;
  text-align: center;
}

.wordHovering:hover{
  font-size: 20vw;
  color: var(--honoluluBlue);
  transition: 500ms ease-in-out;
}

#introPara{
  text-align: center;
  margin-top: 5vw;
  font-size: 2vw;
}

#aceLogo{
  width: 10vw;
  height: auto;
}

@media only screen and (max-width:500px){
  #aceLogo{
    width: 15vw;
    height: auto;
  }
  .topNavButtons{
    padding: 2vw;
    font-size: 4vw;
  }

  .topNav{
    padding: 1vw;
  }

  .topNavButtons-active{
    padding: 2vw;
    font-size: 4vw;
    background-color: var(--red);
  }

  #introPara{
    margin-top: 15vw;
    font-size: 4vw;
  }
}