:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --champagnePink: hsl(16, 31%, 85%);
  --platinum: hsl(0, 0%, 88%);
  --honoluluBlue: hsl(202, 100%, 39%);
  --payneGray: hsl(207, 9%, 41%);
  --lightPayneGray: hsl(208, 9%, 60%);
  --red: hsl(354, 89%, 52%);

  background-color: var(--lightPayneGray);
}

p {
  font-size: 2vw;
  color: var(--platinum);
}

.pictureGroup {
  display: flex;
  flex-flow: column wrap;
  justify-content: auto;
}

.secondPic {
  flex: 1;
  max-width: 20vw;
  max-height: 20vw;
  transition: 1s ease-in-out;
}

.secondPic:hover {
  flex: 2;
  max-width: 30vw;
  max-height: 30vw;
  transition: 1s ease-in-out;
}

.thirdPic {
  flex: 1;
  max-width: 10vw;
  max-height: 10vw;
  transition: 1s ease-in-out;
}

.thirdPic:hover {
  flex: 2;
  max-width: 15vw;
  max-height: 15vw;
  transition: 1s ease-in-out;
}

.showcaseDisplay {
  width: 100%;
  display: flex;
  background-color: var(--celadon);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  justify-content: auto;
  flex-direction: row;
}

h2 {
  font-size: 5vw;
  text-align: center;
}

h3 {
  font-size: 3vw;
  text-align: center;
  color: var(--carribeanCurrent);
  background-color: var(--sunset);
  border-radius: 100px;
}

.pictureDisplay {
  flex: 2;
  max-width: 50vw;
  max-height: 50vw;
}

.videoDisplay {
  flex: 2;
  max-width: 60vw;
  max-height: 60vw;
}

.topNav {
  background-color: var(--honoluluBlue);
  color: var(--champagnePink);
  font-size: 2vw;
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.topNavButtons {
  text-decoration: none;
  color: var(--platinum);
  background-color: var(--payneGray);
  border-radius: 1vw;
  font-size: 2vw;
  width: 1fr;
  padding: 1vw;
  margin: 1vw;
  text-align: center;
}

.topNavButtons-active {
  text-decoration: none;
  color: var(--platinum);
  border-radius: 1vw;
  font-size: 2vw;
  width: 1fr;
  margin: 1vw;
  text-align: center;
  background-color: var(--red);
  transition: 500ms ease-in-out;
  padding: 1vw;
}

.topNavButtons:hover {
  text-decoration: none;
  background-color: var(--red);
  transition: 500ms ease-in-out;
  padding: 1.5vw;
}

#dropDown {
  border: none;
  font-size: 5vw;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: var(--honoluluBlue);
  display: none;
}

hr {
  height: 2vw;
  border-width: 0;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--red);
}

.wordHovering {
  font-size: 17vw;
  color: var(--honoluluBlue);
  font-weight: 700;
  text-align: center;
}

.wordHovering:hover {
  font-size: 19vw;
  color: var(--red);
  transition: 500ms ease-in-out;
}

#introPara {
  text-align: center;
  margin-top: 2vw;
  font-size: 2vw;
}

#aceLogo {
  width: 10vw;
  height: auto;
}

@media only screen and (max-width:500px) {
  #aceLogo {
    width: 25vw;
    height: auto;
    text-align: center;
  }

  #dropDown {
    display: block;
    font-size: 10vw;
  }

  .topNavButtons {
    display: none;
    padding: 2vw;
    font-size: 4vw;
  }

  .topNavButtons-active {
    display: none;
  }

  .topNav {
    padding: 1vw;
  }

  .topNavButtons-active {
    padding: 2vw;
    font-size: 4vw;
    background-color: var(--red);
  }

  p {
    font-size: 3vw;
  }

  #introPara {
    margin-top: 25vw;
    font-size: 4vw;
    padding: none;
  }
}